<h1>Eldorado - Current Waitlist</h1>

<table class="table table-striped">
    <thead class="thead-inverse">
        <tr>
            <th>Guest's name</th>
            <th>Cellphone</th>
            <th>Party of</th>
            <th>Average waiting time</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        <form>
        <tr class="table-success">
            <td>
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Guest's name">
            </td>
            <td>
                <input type="phone" class="form-control" id="exampleInputEmail1" placeholder="Phone number">
            </td>
            <td>
                <select name="party" class="form-control">
                    <option></option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
            </td>
            <td></td>
            <td>
                <button class="btn btn-success"><i class="fa fa-plus"></i></button>
            </td>
        </tr>
        </form>
        <!-- List -->
        <tr class="table-danger" style="font-weight: bold;">
            <td>
                Simon Blais
            </td>
            <td>
                819-962-7979
            </td>
            <td>
                3
            </td>
            <td>1m30s late</td>
            <td>
                <button class="btn btn-success"><i class="fa fa-check"></i></button>
                <button class="btn btn-danger"><i class="fa fa-trash"></i></button>
            </td>
        </tr>
        <tr class="table-warning">
            <td>
                Alexandre Voyer
            </td>
            <td>
                819-962-7979
            </td>
            <td>
                4
            </td>
            <td>30 mins</td>
            <td>
                <button class="btn btn-success"><i class="fa fa-check"></i></button>
                <button class="btn btn-warning">1m59s remaining...</button>
            </td>
        </tr>
        <tr>
            <td>
                Simon D'Aoust
            </td>
            <td>
                819-962-7979
            </td>
            <td>
                2
            </td>
            <td>30 mins</td>
            <td>
                <button class="btn btn-primary"><i class="fa fa-phone"></i></button>
                <button class="btn btn-danger"><i class="fa fa-trash"></i></button>
            </td>
        </tr>
        <tr>
            <td>
                Stéphane Lévesque
            </td>
            <td>
                819-962-7979
            </td>
            <td>
                2
            </td>
            <td>30 mins</td>
            <td>
                <button class="btn btn-primary"><i class="fa fa-phone"></i></button>
                <button class="btn btn-danger"><i class="fa fa-trash"></i></button>
            </td>
        </tr>
    </tbody>
</table>